/* Default Color Theme */

body {
	background: #fff;
}
body,
button,
input,
select,
textarea {
	color: #060606;
}
hr {
	background-color: #ccc;
}
pre {
	background: #eee;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
mark, ins {
	background: #fff9c0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #333;
	color: #ccc;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
		background: #111;
		color: #fff;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #111;
	color: #fff;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	border: 1px solid #999;
}
a {
	color: #930303;
}
a:hover,
.entry-meta a:hover {
	color: #dc0e0e;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	color: #21759b;
}
h2.site-description {
	color: #444;
}
.main-navigation ul {
	background: #000;
	border-right: 5px solid #333;
}
.main-navigation a {
	color: #666;
	border-bottom: 1px solid #222;
}
.main-navigation a:hover {
	background: #333;
	color: #ccc;
}
.main-navigation ul ul {
	background: #000;
}
.main-navigation li:hover > a {
	background: #000;
	color: #ccc;
}
.main-navigation ul.nav-menu div div > li > a:before {
	color: #666;
}
.main-navigation ul.nav-menu div div > li > a:hover:before {
	color: #fff;
}
.main-navigation ul.nav-menu > div > div > li:hover > a:before {
	color: #fff;
}
.main-small-navigation a {
	color: #777;
}
.main-small-navigation a:hover {
	color: #fff;
	background: #000;
}
.main-small-navigation h1.menu-toggle {
	background: #222;
    color: #fff;
}
.main-small-navigation .menu-container {
	background: #111;
}
.page-header {
	background: #111;
	color: #aaa;
}
article {
	border-bottom: 1px solid #ccc;
}
div.entry-meta a {
	color: #930303;
}
h1 a {
	color: #000;
}
article.format-aside {
	background: #abebff;
}
.single article.format-aside {
	border: 1px solid #ccc;
}
article.format-quote {
	background: #fff493;
}
.single article.format-quote {
	border: 1px solid #ccc;
}
article.format-quote cite {
	color: #d3a92a;
}
article.format-quote div.entry-summary:before {
  	color: #f8e89b;
}
.wp-caption {
	border: 1px solid #ccc;
}
ul.basic-slider {
	background-color: #000;
}
.slideshow-container ol li.active-marker a {
	background: #930303;
}
.slideshow-container ol li a:hover {
	background: #cd4545;
}
.video-container,
.gallery-container {
	background: #000;
}
.site-content [class*="navigation"] {
	background: #333;
}
.site-content [class*="navigation"] a {
	background: #333;
	color: #aaa;
}
.site-content [class*="navigation"] a:hover {
	background: #222;
}
.single .site-content [class*="navigation"] a:hover {
	color: #930303;
	background: none;
}
th {
	background: #eee;
	border-bottom: 2px solid #111;
}
td {
	border-bottom: 1px solid #eee;
}
#comment-nav-below {
	border-top: 1px solid #ccc;
}
.commentlist .avatar {
	border: 7px solid #eee;
}
cite.fn a {
	color: #404040;
}
cite.fn a:hover {
	color: #666;
}
.site-info {
	background: #000;
}
#footer-widgets {

    background: transparent;

    margin: 0px 39px 10px;

    position: absolute;

    width: 1058px;

}
h1.widget-title {
	color: #444;
}
#colophon,
#colophon a,
#comments a {
	color: #777;
}
#colophon a:hover,
#comments a:hover,
#comments a:focus {
	color: #999;
}
.custom-scrollbox-tools .custom-scrollbox-dragger-rail {
	background: #000; /* rgba fallback */
	background: rgba(0,0,0,0.4);
}
.custom-scrollbox-tools .custom-scrollbox-dragger .custom-scrollbox-dragger-bar {
	background: #fff; /* rgba fallback */
	background: rgba(255,255,255,0.75);
}
.custom-scrollbox-tools .custom-scrollbox-dragger:hover .custom-scrollbox-dragger-bar {
	background: rgba(255,255,255,0.85);
}
.custom-scrollbox-tools .custom-scrollbox-dragger:active .custom-scrollbox-dragger-bar,
.custom-scrollbox-tools .custom-scrollbox-dragger.custom-scrollbox-dragger-ondrag .custom-scrollbox-dragger-bar {
	background: rgba(255,255,255,0.9);
}
