.box { 
	padding:20px; 
	margin-bottom:20px; 
	background:#EDEDED; 
	color:#333; 
}

.yellow { 
	background:#FEFFD8; 
	color:#514721; 
	border-color:#FEDE91; 
}

.red { 
	background:#FBE3E4; 
	color:#8a1f11; 
	border-color:#FBC2C4; 
}

.green { 
	background:#dfece9; 
	color:#1B3F36; 
	border-color:#B5DFD5; 
}

.box a { 
	color:#222; 
	border-color:#222; 
}

.red a { 
	color:#8a1f11; 
	border-color:#8a1f11; 
}

.yellow a { 
	color:#514721; 
	border-color:#514721; 
}

.green a { 
	color:#264409; 
	border-color:#264409; 
}

.box a:hover,
.red a:hover,
.yellow a:hover,
.green a:hover { 
	color:#000; 
	border-color:#000; 
}

/* Button Shortcodes */
.scbutton { 
	background:#e3e3e3; 
	border:1px solid #bbb;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	-moz-box-shadow:inset 0 0 1px 1px #f6f6f6; 
	-webkit-box-shadow:inset 0 0 1px 1px #f6f6f6; 
	box-shadow:inset 0 0 1px 1px #f6f6f6; 
	color:#333; 
	font-family:"helvetica neue", helvetica, arial, sans-serif; 
	font-size:12px; 
	font-weight:bold; 
	line-height:2em; 
	padding:8px 20px 9px; 
	text-align:center; 
	text-shadow:0 1px 0 #fff; 
	display:inline-block; 
	margin-bottom:10px;
	text-decoration: none;
}

.scbutton.dark { 
	background:#222; 
	border:1px solid #111; 
	color:#CCC; 
	text-shadow:0 1px 0 #000; 
	-moz-box-shadow:inset 0 0 1px 1px #666; 
	-webkit-box-shadow:inset 0 0 1px 1px #666; 
	box-shadow:inset 0 0 1px 1px #666; 
}

.scbutton.large { 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
	font-size:24px; 
	line-height:24px; 
	padding:16px 30px 17px; 
}

.scbutton:hover { 
	background:#d9d9d9; 
	-moz-box-shadow:inset 0 0 1px 1px #eaeaea; 
	-webkit-box-shadow:inset 0 0 1px 1px #eaeaea;
	box-shadow:inset 0 0 1px 1px #eaeaea; 
	color:#222; 
	cursor:pointer; 
}

.scbutton.dark:hover { 
	background:#000; 
	-moz-box-shadow:inset 0 0 1px 1px #888; 
	-webkit-box-shadow:inset 0 0 1px 1px #888; 
	box-shadow:inset 0 0 1px 1px #888; 
	color:#fff; 
}

.scbutton:active { 
	background:#d0d0d0; 
	-moz-box-shadow:inset 0 0 1px 1px #e3e3e3; 
	-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3; 
	box-shadow:inset 0 0 1px 1px #e3e3e3; 
	color:#000; 
}

/* Grid */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

.alpha { margin-left:0; }
.omega { margin-right:0; }

 .grid_1 { width:6.333%; }
 .grid_2 { width:14.667%; }
 .grid_3 { width:23.0%; }
 .grid_4 { width:31.333%; }
 .grid_5 { width:39.667%; }
 .grid_6 { width:48.0%; }
 .grid_7 { width:56.333%; }
 .grid_8 { width:64.667%; }
 .grid_9 { width:73.0%; }
 .grid_10 { width:81.333%; }
 .grid_11 { width:89.667%; }
 .grid_12 { width:98.0%; }
@media screen and (max-width:640px) {
	 .grid_1,
	 .grid_2,
	 .grid_3,
	 .grid_4,
	 .grid_5,
	 .grid_6,
	 .grid_7,
	 .grid_8,
	 .grid_9,
	 .grid_10,
	 .grid_11,
	 .grid_12 {
		display: block;
		float:none;
		margin:0 auto;
		width:100%;
	}
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
